li{
  list-style-type: none;

}
  ul{
    padding-left: 0;
    margin-left: 0;

  }
.wrapper {
  min-height: 100vh;

}
.flex {
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 30px;
  box-sizing: border-box;
}
.formList{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  
}
.name,
.description {
  width: 100%;
  margin-bottom: 20px;
}
.description{
  height: 50px;
}
.inputText {
  display: block;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
}
textarea{
  width: 335px;
  resize: none 
}